@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.scrollbar_remover {
  overflow-y: auto;
}
.scrollbar_remover::-webkit-scrollbar {
  width: 0.4rem;
}
.scrollbar_remover::-webkit-scrollbar-thumb {
  background-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
